<div th:replace="~{fragments/header ::header}" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.w3.org/1999/xhtml"></div>
<body>
<div th:replace="~{fragments/sidebar ::sidebar}" xmlns:th="http://www.thymeleaf.org"></div>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="wrapper d-flex flex-column min-vh-100 bg-light" >
    <header class="header header-sticky mb-4">
        <div class="container-fluid">
            <button class="header-toggler px-md-0 me-md-3" type="button"
                    onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()">
                <svg class="icon icon-lg">
                    <use th:href="@{/coreui/vendors/coreui_libs/icons/svg/free.svg#cil-menu}"></use>
                </svg>
            </button>
            <a class="header-brand d-md-none" href="#">
                <svg width="118" height="46" alt="CoreUI Logo">
                    <use th:href="@{/coreui/assets/brand/coreui.svg#full}"></use>
                </svg>
            </a>
            <ul class="header-nav d-none d-md-flex">
                <li class="nav-item"><a class="nav-link" th:href="@{/home}">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Users</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Settings</a></li>
            </ul>
            <ul class="header-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="#">
                    <svg class="icon icon-lg">
                        <use th:href="@{/coreui/vendors/coreui_libs/icons/svg/free.svg#cil-bell}"></use>
                    </svg>
                </a></li>
                <li class="nav-item"><a class="nav-link" href="#">
                    <svg class="icon icon-lg">
                        <use th:href="@{/coreui/vendors/coreui_libs/icons/svg/free.svg#cil-list-rich}"></use>
                    </svg>
                </a></li>
                <li class="nav-item"><a class="nav-link" href="#">
                    <svg class="icon icon-lg">
                        <use th:href="@{/coreui/vendors/coreui_libs/icons/svg/free.svg#cil-envelope-open}"></use>
                    </svg>
                </a></li>
            </ul>
            <ul class="header-nav ms-3" >
                <li> <p>Hi, Welcome Back <span style="font-weight:bold" sec:authentication="principal.username" > !</span>
                    <br>
                    Role(s): <span sec:authentication="principal.authorities"></span></p> </li>
                <li class="nav-item dropdown"><a class="nav-link py-0" data-coreui-toggle="dropdown" href="#"
                                                 role="button" aria-haspopup="true" aria-expanded="false">
                    <div class="avatar avatar-md"><img class="avatar-img" th:src="@{${user.getAvatarImgPath()}}"
                                                       alt="user@email.com"></div>
                </a>
                    <div class="dropdown-menu dropdown-menu-end pt-0">
                        <div class="dropdown-header bg-light py-2">
                            <div class="fw-semibold">Account</div>
                        </div>
                        <a class="dropdown-item" href="#">
                            <svg class="icon me-2">
                                <use th:href="@{/coreui/vendors/coreui_libs/icons/svg/free.svg#cil-bell}"></use>
                            </svg>
                            Updates<span class="badge badge-sm bg-info ms-2">42</span></a><a class="dropdown-item"
                                                                                             href="#">
                        <svg class="icon me-2">
                            <use th:href="@{/coreui/vendors/coreui_libs/icons/svg/free.svg#cil-envelope-open}"></use>
                        </svg>
                        Messages<span class="badge badge-sm bg-success ms-2">42</span></a><a class="dropdown-item"
                                                                                             href="#">
                        <svg class="icon me-2">
                            <use th:href="@{/coreui/vendors/coreui_libs/icons/svg/free.svg#cil-task}"></use>
                        </svg>
                        Tasks<span class="badge badge-sm bg-danger ms-2">42</span></a><a class="dropdown-item" href="#">
                        <svg class="icon me-2">
                            <use th:href="@{/coreui/vendors/coreui_libs/icons/svg/free.svg#cil-comment-square}"></use>
                        </svg>
                        Comments<span class="badge badge-sm bg-warning ms-2">42</span></a>
                        <div class="dropdown-header bg-light py-2">
                            <div class="fw-semibold">Settings</div>
                        </div>
                        <a class="dropdown-item" href="#">
                            <svg class="icon me-2">
                                <use th:href="@{/coreui/vendors/coreui_libs/icons/svg/free.svg#cil-user}"></use>
                            </svg>
                            Profile</a><a class="dropdown-item" href="#">
                        <svg class="icon me-2">
                            <use th:href="@{/coreui/vendors/coreui_libs/icons/svg/free.svg#cil-settings}"></use>
                        </svg>
                        Settings</a><a class="dropdown-item" href="#">
                        <svg class="icon me-2">
                            <use th:href="@{/coreui/vendors/coreui_libs/icons/svg/free.svg#cil-credit-card}"></use>
                        </svg>
                        Payments<span class="badge badge-sm bg-secondary ms-2">42</span></a><a class="dropdown-item"
                                                                                               href="#">
                        <svg class="icon me-2">
                            <use th:href="@{/coreui/vendors/coreui_libs/icons/svg/free.svg#cil-file}"></use>
                        </svg>
                        Projects<span class="badge badge-sm bg-primary ms-2">42</span></a>
                        <div class="dropdown-divider"></div>
                        <form th:action="@{/logout}" method="post" xmlns:th="http://www.thymeleaf.org">
                            <button class="dropdown-item" type="submit">
                                Logout
                            </button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <div class="header-divider"></div>
        <div class="container-fluid">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb my-0 ms-2">
                    <li class="breadcrumb-item">
                        <!-- if breadcrumb is single--><span>Home</span>
                    </li>
<!--                    <li class="breadcrumb-item active"><span>Users</span></li>-->
                </ol>
            </nav>
        </div>
    </header>
    <div class="body flex-grow-1 px-3">
        <div class="container-lg">
                <h1 align="center">Welcome to home page</h1>

        </div>
    </div>
    <footer class="footer">
        <div>

        </div>
        <div align="center">Job Find System</a></div>
    </footer>
</div>
<div th:replace="~{fragments/footer ::footer}" xmlns:th="http://www.thymeleaf.org"></div>
</html>