<div th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
    <!-- CoreUI and necessary plugins-->
    <script th:src="@{/coreui/vendors/coreui_libs/coreui/js/coreui.bundle.min.js}"></script>
    <script th:src="@{/coreui/vendors/simplebar/js/simplebar.min.js}"></script>
    <!-- Plugins and scripts required by this view-->
    <script th:src="@{/coreui/vendors/chart.js/js/chart.min.js}"></script>
    <script th:src="@{/coreui/vendors/coreui_libs/chartjs/js/coreui-chartjs.js}"></script>
    <script th:src="@{/coreui/vendors/coreui_libs/utils/js/coreui-utils.js}"></script>
    <script th:src="@{/coreui/js/main.js}"></script>
    <script>
    </script>

</div>
