<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="~{fragments/header ::header}" xmlns:th="http://www.thymeleaf.org"></div>
<body xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/sidebar ::sidebar}" xmlns:th="http://www.thymeleaf.org"></div>

<div class="wrapper d-flex flex-column min-vh-100 bg-light">
    <header class="header header-sticky mb-4">
        <div th:replace="~{fragments/nav-tag :: nav-tag}"></div>
        <div class="header-divider"></div>
        <div class="container-fluid">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb my-0 ms-2">
                    <li class="breadcrumb-item">
                        <!-- if breadcrumb is single--><span>Home</span>
                    </li>
                    <li class="breadcrumb-item active"><span>Dashboard</span></li>
                </ol>
            </nav>
        </div>
    </header>
    <div class="body flex-grow-1 px-3" xmlns:th="http://www.thymeleaf.org">
        <div class="container-lg">
            <form th:action="@{/companies/save}" th:object="${company}"
                  method="post" enctype="multipart/form-data">
                <input type="hidden" th:field="*{companyId}">
                <div class="row">
                    <div class="col">
                        <label class="form-label" for="companyname">Company name</label>
                        <input class="form-control" id="companyname" type="text" th:field="*{companyName}"/>
                    </div>

                    <div class="col">
                        <label class="form-label" for="email">Email</label>
                        <input class="form-control" id="email" type="email" th:field="*{email}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="form-label" for="phone">Phone</label>
                        <input class="form-control" id="phone" type="text" th:field="*{phone}"/>
                    </div>
                    <div class="col">
                        <label class="form-label" for="address">Address</label>
                        <input class="form-control" id="address" type="text" th:field="*{address}"/>
                    </div>
                </div>
                <div class="row">

                    <div class="col">
                        <label class="form-label" for="description">Description</label>
<!--                        <input class="form-control" id="description" type="text" th:field="*{description}"/>-->
                        <textarea class="form-control" id="description" th:field="*{description}" rows="3" cols="40"></textarea>

                        </div>
                    </div>
                    <div class="col">
                        <input type="hidden" th:field="*{logo}">
                        <label class="form-label" for="logo">Logo</label>
                        <input class="form-control" id="logo" name="image" type="file" accept="image/*" required="true"/>
                    </div>
                </div>
                <br>

                <button class="btn btn-primary" type="submit">Thêm mới</button>
            </form>
        </div>
    </div>
    <footer class="footer">
        <div><a href="https://coreui.io">CoreUI </a><a href="https://coreui.io">Bootstrap Admin Template</a> © 2023
            creativeLabs.
        </div>
        <div class="ms-auto">Powered by&nbsp;<a href="https://coreui.io/docs/">CoreUI UI Components</a></div>
    </footer>
</div>
<div th:replace="~{fragments/footer ::footer}" xmlns:th="http://www.thymeleaf.org"></div>
</body>
</html>


